/*-------------------------
        BUTTOMS
--------------------------*/
.primary-button{
    padding: .5625rem 1.5625rem;
    background-color: #058283;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: .3125rem;
}

.secondary-button{
    padding: .5625rem 1.5625rem;
    background-color: inherit;
    border:  1px solid #058283;
    color: white;
    font-weight: bold;
    border-radius: .3125rem;
}

.tertiary-button{
    padding: .5625rem 1.5625rem;
    background-color: inherit;
    border:  1px solid #058283;
    color: #058283;
    border-radius: .3125rem;
}