/*--------------------------------
        CONTAINERS
---------------------------------*/
.container-st{
    width: 87.5rem;
    margin: auto;

};

.container-full{
    width: 100%;
}

.container-large{
    width: 131.25rem;
    margin: auto;

}

.container-small{
    width: 71.875rem;
    margin: auto;

}