/*--------------------------------
        CONTAINERS
---------------------------------*/
.container-st{
    width: 87.5rem;
    margin: auto;
};

.container-fluid{
    width: 100vw;
}

.container-sm{
    width: 71.875rem;
    margin: auto;
}