/*--------------------------------
        CONTAINERS
---------------------------------*/
.container-st{
    width: 87.5rem;
    margin: auto;
};

.container-full{
    width: 100vw;
}

.container-large{
    width: 131.25rem;
    margin: auto;
}

.container-sm{
    width: 71.875rem;
    margin: auto;
}