@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;600&display=swap');

body{
    font-family: 'Heebo', sans-serif;
};

.upper-title{
    color: #00a6a6;
    text-transform: uppercase;
    margin-bottom: 0;
}

.section-title{
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    h2{
        font-size: 4rem;
        font-weight: bolder;
    }
}

.boxed-title{
    background-color: #daeced;
    padding: .3125rem .625rem;
    color: #058283;
    border-radius: .125rem;
    font-size: 4rem;
    font-weight: bolder;
    margin-right: .3125rem;
}