@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;600&display=swap');

body{
    font-family: 'Heebo', sans-serif;
};

.upper-title{
    color: #057778;
    text-transform: uppercase;
    margin-bottom: 0;
}